html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after {
    content: '';
    content: none
}

q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    font-size: inherit;
    font-family: inherit
}

input:focus, textarea:focus {
    outline: none
}

html, body {
    font-size: 14px;
    font-size: 100%
}

.wrapper {
    height: 100%;
    min-height: 100%;
    position: relative
}

.chatbox {
    height: 100%;
    overflow: hidden;
    position: relative
}

.chatbox .fixed {
    position: fixed;
    width: 100%;
    z-index: 5
}

.chatbox .chat-topic {
    top: 0
}

.chatbox .chat-topic .topic {
    padding: 5px
}

.chatbox .chat {
    display: block
}

.chatbox .chat span {
    display: inline-block
}

.chatbox .chat span:first-of-type {
    margin-left: 5px
}

.chatbox .input-box {
    bottom: 0
}

.chatbox .input-box .input-wrapper {
    padding: 5px
}

.chatbox .input-box .chat-input {
    display: table;
    width: 100%
}

.chatbox .input-box .chat-input .input-name, .chatbox .input-box .chat-input .input-controls {
    display: table-cell;
    vertical-align: middle
}

.chatbox .input-box .input-name {
    width: 20px
}

.chatbox .input-box .input-name .name {
    padding-right: 12px
}

.chatbox .input-box .input-controls {
    overflow: hidden
}

.chatbox .input-box .input-controls:last-of-type {
    width: 120px
}

.chatbox .input-box .input-controls * {
    padding: 5px
}

.chatbox .scrollable {
    height: 100%;
    padding-top: 50px;
    margin-bottom: 60px;
    z-index: 0
}

.body {
    background-color: #000;
    color: #1AC827;
    font-family: 'Courier New', monospace
}

.body a {
    color: #0000C2
}

.chat-topic {
    background-color: #000;
    border-bottom: 1px solid #333
}

.chat {
    display: block;
    padding: 5px 0
}

.chat.chat-highlight, .chat.chat-notice {
    border-top: 1px dashed rgba(26, 200, 39, 0.3);
    border-bottom: 1px dashed rgba(26, 200, 39, 0.3)
}

.chat.chat-highlight span.text:before, .chat.chat-notice span.text:before {
    font-weight: bold
}

.chat.chat-highlight .text {
    color: #C3C62A
}

.chat.chat-highlight .text:before {
    content: 'Notice: '
}

.chat.chat-notice .text {
    color: #C0000C
}

.chat.chat-notice .text:before {
    content: 'ERROR: '
}

.input-box {
    background: #000;
    border-top: 1px solid #333
}

.input-box .input-controls {
    border: 1px solid #333;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.input-box .input-controls:last-of-type {
    border-right: 1px solid #333;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.input-box input, .input-box textarea {
    background: inherit;
    color: inherit
}

.input-box input[type=submit] {
    transition: all .3s ease-in-out;
    background: #000;
    color: #1AC827
}

.input-box input[type=submit]:hover, .input-box input[type=submit]:focus {
    background: #1AC827;
    color: #000;
    cursor: pointer
}

.timestamp {;
    color: red;
}

.release {
    color: white;
}

.section {
    color: yellow;
}

.info {
    color: cornflowerblue;
}
